html, body {
    background-color: black;
    background-image: linear-gradient(to right, black, #0A1C3F);
    font-family: 'Avenir Next' !important;        
}

.no-scroll {
    overflow: hidden;
}

@media only screen and (max-width: 600px) {

    body {
        font-size: 1.5em;
    }

    model-viewer {     
        background-color: transparent;
        --poster-color: transparent;
        width: 100vw;
        height: 30vh;    
    }

    .icon {
        width: 100px;
        height: 100px;
        padding: 40px;
    }
}

@media only screen and (max-width: 1200px) {

    body {
        font-family: 'Avenir Next' !important; 
        font-size: 2.0em;
    }

    model-viewer {     
        background-color: transparent;
        --poster-color: transparent;
        width: 100vw;
        height: 50vh;    
    }

    .icon {
        width: 80px;
        height: 80px;
        padding: 30px;
    }
}

@media only screen and (min-width: 1300px) {

    body {
        font-size: 1.75em;
    }

    model-viewer {     
        background-color: transparent;
        --poster-color: transparent;
        width: 30vw;
        height: 90vh;    
    }

    .icon {
        width: 25px;
        height: 25px;
        padding: 10px;
    }
}

.column {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;    
}

.row {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;  
}

.icons {
    display: flex;
    flex-direction: row;
    width: 100%;    
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 10;
}

.p-container {
    width: 350px;
    display: flex;
    flex-direction: column;
}
